    body,
    html {
        width: 100%;
        margin: 0
    }
    body {
        font-size: 16px;
        margin: 0
    }
    header {
        height: 55px;
        color: white;
        background-color: #111111;
        margin-top: 0;
        position: absolute;
        width: 100%
    }
    .head-title {
        padding-left: 20px;
        font-family: "korolev-compressed", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 1.5em;
        letter-spacing: 3px;
        color: white;
        float: left;
    }
    nav {
        float: right;
        margin: 10px 10px;
    }
    /*-------    OVERLAY    --------------*/
    
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        color: white;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .overlay-title {
        font-family: "korolev-compressed", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 1.7em;
        color: white;
        letter-spacing: 3px;
    }
    .overlay-sub-title {
        font-family: "korolev", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        letter-spacing: 4px
    }
    .overlay-name {
        font-family: "korolev", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        letter-spacing: 1px
    }
    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px
        }
        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
    @media screen and (max-width: 470px) {
        .hide-in-mobile {
            display: none;
        }
    }
